@import "tailwindcss";
.font-island {
  font-family: 'Island Moments', cursive;
}

.font-halant {
  font-family: 'Halant', serif;
}
.font-instrument {
  font-family: 'Instrument Sans', sans-serif;
}


html, body, #root { 
  height: 100%;
  background-image: url('../src/assets/BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}
